// Libs
import React from 'react';
import module from './module.json';
import store from '../../../store';
import { addModule } from '../../../modules/core/actions';
import {{nameUpperCase}} from './components/index';

const dispatch = store.dispatch;

export const getDataOnLogin = async () => {};

export const bootstrap = () => {
  // Add Module
  dispatch(addModule(module));
};

export default () => <{{nameUpperCase}} />;
