{
  "isPlugin": true,
  "icon": "{{#if icons}}{{nameLowerCase}}{{/if}}",
  "label": "{{#if i18n}}{{nameLowerCase}}:{{nameLowerCase}}{{/if}}{{#unless i18n }}{{nameUpperCase}}{{/unless}}",
  "route": "{{nameLowerCase}}",
  "weight": "10",
  "inSearchBar": true,
  "isNavbarButton": true,
  "newLocales": [{{#if i18n}}"{{nameLowerCase}}"{{/if}}]
}
